* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin {
    position: relative;
    width: 500px;
    background-color: #151515;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    padding-top: 70px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    color: white;
    font-weight: bold;
    z-index: 1;
}

.admin-kotak {
    display: flex;
    width: 90%;
    border-radius: 200px;
    justify-content: center;
}

.bagian_kanan {
    flex: 1;
    background-color: #1d1d1d;
    padding: 40px;
    color: white;
    border-radius: 0 0 15px 15px;
}

form label {
    display: block;
    margin-top: 18px;
    font-size: 15px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
}

.subnit {
    width: 100%;
    background-color: #ff4d00;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}
