* {
    padding: 0px;
    margin: 0px;
    font-family: "Nunito", sans-serif;
}

/* CSS Navigasion */

/* end of css navigation */

.container {
    width: 100%;
}

.container .content {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.container .content .right {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
}

.container .content .left {
    padding: 2px 15px;
    background-color: rgb(248, 248, 248);

    border-right: 1px solid rgb(212, 212, 212);
    height: 100vh;
}

.container .content .left h1 {
    font-size: 35px;
    margin-top: 5px;
}

.container .content .left a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.container .content .left p {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}
section h2 {
    margin-left: 5px;
}
section .categories {
    display: flex;
    flex-wrap: wrap;
    display: none;
}

.box {
    border: 1px solid #ddd;
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: 5px;
}

.box img {
    width: 200px;
    height: 150px;
}

.box .button button {
    border-radius: 5px;
    width: 70px;
    border: none;
    height: 25px;
    margin-top: 5px;
    background-color: rgb(29, 137, 209);
    color: white;
}

/* css of form create menu */

.containerAdmin {
    max-width: 700px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.containerAdmin h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}
.containerAdmin .form-group {
    margin-bottom: 15px;
    padding: 10px;
}

.containerAdmin label {
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: bold;
}

.containerAdmin input,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.containerAdmin button {
    padding: 10px 20px;
    background-color: #2a9d8f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.containerAdmin button:hover {
    background-color: #21867a;
}
