* {
    padding: 0px;
    margin: 0px;
    font-family: "Nunito", sans-serif;
    color: white;
}
.body1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#formToko {
    width: 500px;
    border: 1px solid rgb(102, 102, 102);
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(25, 25, 25);
}

#formToko .form-group {
    display: flex;
    flex-direction: column;
}

#formToko .form-group label {
    margin-bottom: 2px;
}

#formToko .form-group input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    color: black;
}

#formToko button {
    width: 70px;
    height: 25px;
    border: none;
    background-color: rgb(15, 72, 137);
    color: white;
    border-radius: 3px;
}
